.not-found{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 12px;
    background-color: var(--black);
    inline-size: 100%;
    block-size: calc(100vh - var(--footerBlockSize));
}

.not-found__title {
    color: var(--white);
    font-family: 'Open Bold';
    font-size: 1.5rem;
}

.not-found__text {
    color: var(--white);
    font-family: 'Open Bold';
    font-size: 1rem;
}

@media screen and (min-width: 768px){
    .not-found__title {
        font-size: 2rem;
    }
    .not-found__text {
        font-size: 1.5rem;
    }
}