@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./components/blocks/Forms.css');
@import url('./components/blocks/Page.css');

:root {
  --black: #21212d;
  --red: #e76969;
  --dark-gray: #3a3a46;
  --gray: #2c2c38;
  --light-gray: #838a9a;
  --white: #f5f5f5;
  --purple: #645fc6;
  --green: #6bdfad;
  --yellow: #e7a22a;
  --headerBlockSize: 3.75rem;
  --footerBlockSize: 3.125rem;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Regular';
  color: var(--white);
}